body 
      {
        font-family: 'Roboto';
      }
      .nav-link
      {
        position: relative;
        font-weight: 300;
        font-size: 25px;
        line-height: 25px;

        color: #0B1118;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 20px;
        padding: 20px 0px 0px 30px;
      }
      .nav-link1
      {
        font-size: 25px;
        margin: 3px 0px 0px 30px;
        border-radius: 30px;
        padding: 15px 30px 15px 30px;
        background-color: blue;
        color: white;
      }
      .logo
      {
        margin: 10px;
        position: absolute;
        padding: 8px;
      }
      .jajja_img
      {
        margin: 60px 0px 0px 50px;
        font-size: 180px;
        float: right;
        border-radius: 8px;
      }
      .shapecircle
      {
        position: absolute;
        margin: 0 0 0 38px;
        width: 1040px;
        height: 1040x;
        left: 820px;
        top: -110px;
        opacity: 1;
        z-index: -20;
      }
      .cloud
      {
        margin: auto;
        position: absolute;
        padding-top: 16px;
        right: 600px;
        opacity: 1;
        z-index: -20;
      }
      .Halla_dar
      {
        position: static;
        font-size: 20px;
      }
      .Vi_driver
      {
        position: absolute;
        font-weight: bold;
        font-size: 70px;
        letter-spacing: -0.5px;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .container-intro
      {
        margin: 290px 0px 0px 10px;
      }
      .peach
      {
        background: rgba(244, 234, 228, 0.4);
        position: absolute;
        width: 1400px;
        height: 800px;
        left: 0px;
        top: 980px;
      }
      .second-part
      {
        margin-top: 80px;
      }
      .Med-hjalp
      {
        position: absolute;
        font-weight: bold;
        font-size: 70px;
        letter-spacing: -0.5px;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      .card
      {
        margin: 200px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px;
        position: static;
        width: 340.67px;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
      }
      .card-title
      {
        position: static;
        font-size: 45px;
        font-weight: bold;
      }
      .card-text1
      {
        color: #0B1118;
        font-size: 25px;
        line-height: 25px;
      }
      a:link
      {
        text-decoration: none;
      }
      .arrow{
            list-style: none;
        }
      .text2-decoration
      {
        color: gray;
      }
      .card-text2
      {
        padding: 0 50px 0 0;
      }
      .pink
      {
        position: absolute;
        width: 1500px;
        height: 350px;
        left: 0px;
        top: 1750px;
        background-color: #FC0E52;
      }
      .text4
      {
        padding: 70px 0 0 25px;
        position: absolute;
        color: white;
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
      }
      .first
      {
        width: 1500px;
        height: 788px;
      }  
      .pink-link
      {
        position: static;
        padding-top: 250px;
        color: black;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-decoration: none;
        color: white;
      }
      .Sahar
      {
        color: white;
        padding-left: 18px;
      }
      .site-logo
      { 
        margin: 90px 15px;
        position: absolute;
        width: 1400px;
        height: 840px;
        left: 0px;
        top: 2128px;
      }
      .mid-bottom
      {
        
        padding: 50px 0 0 10px;
      }
      .text5
      {
        font-weight: 690;
        font-size: 70px;
        line-height: 70px;
      }
      .img
      {
        padding: 20px 20px 20px 20px;
        float: left;
        width:  auto;
        height: auto;
        object-fit: scale-down;
      }
      .Vax
      {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 2500px 0px 0 0;

      position: static;
      width: 1490px;
      height: auto;
      left: 700px;
      top: 0px;

      background: rgba(240, 230, 225, 0.4);
      }
      .h2
      {
        font-weight: 690;
        font-size: 70px;
        line-height: 70px;


        letter-spacing: -1px;
      }
      .paragraph
      {
        padding-top: 25px;
      }
      .container-more
      {
        position: absolute;
        padding-left: 48px;
      }
      .text7
      {
        font-weight: 690;
        font-size: 70px;
        line-height: 70px;
      }
      .nav-link{
        margin: -2px 0px 1px 30px;
      }
      .nav-link2
      {
        font-size: 20px;
        border-radius: 40px;
        padding: 0px 15px 0px 15px;
        background-color: #FC0E52;
        color: white;
      }
